<div class="container mt-5 p-5 bg-light">
    <h2 class="lead">Homepage</h2>
    <div class="container">
        <h1 class="display-4">This is the Homepage of my website!</h1>
        <div class="container col">
            <div class="row m-5">
                <a href="#" class="col-6"><button class="btn btn-secondary col-6">First Page</button></a>
                <a href="#" class="col-6"><button class="btn btn-secondary col-6">Second Page</button></a>
            </div>
            <div class="row m-5">
                <a href="#" class="col-6"><button class="btn btn-secondary col-6">Third Page</button></a>
                <a href="#" class="col-6"><button class="btn btn-secondary col-6">Fourth Page</button></a>
            </div>
        </div>
    </div>
</div>